*.h5
*.png
new_voices/*
new_recordings/*
recordings/*
tmp_wav/my.wav
recordings_plus
*.txt
*.gif
voice
voices
xin
__pycache__/get_mfcc_1dcnn.cpython-37.pyc
__pycache__/get_mfcc_2dcnn.cpython-37.pyc
__pycache__/get_mfcc.cpython-37.pyc
__pycache__/record_and_test.cpython-37.pyc
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/project.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/settings.json
