/.idea
/1.h5
/2.h5
/3.h5
/3000.txt
/3500.txt
/4.h5
/5.h5
/6.h5
/Acc.png
/Acc2dcnn.png
/Accall.png
/Accallmyvoice.png
/AccPlus.png
/AccPlus1.png
/all.h5
/allmyvoice.h5
/allmyvoice.txt
/draw.py
/get_mfcc_1dcnn.py
/get_mfcc_2dcnn.py
/GUI.py
/GUInewew.py
/gui_show.py
/Hamming.png
/HammingFrequency.png
/Loss.png
/Loss2dcnn.png
/Lossall.png
/Lossallmyvoice.png
/LossPlus.png
/LossPlus1.png
/Loss_3.png
/mfcc.png
/model
/model_2dcnn.py
/model_test.py
/model_train_1dcnn.py
/model_train_2dcnn.py
/new voices
/newGUI.py
/new_recordings
/new_recordings_test.txt
/new_recordings_train.txt
/quanbu.txt
/readdata24.py
/read_data.py
/record.gif
/record.py
/recordings
/recordings -plus
/record_and_test.py
/stop.gif
/test.txt
/test_new.txt
/test_plus.txt
/test_singlewav_1dcnn.py
/test_singlewav_2dcnn.py
/tmp_wav
/train.py
/train.txt
/train1.txt
/train_new.txt
/train_plus.txt
/val_loss.png
/voice
/voices
/wave.png
/waves
/wenewGUI.py
/xin
/__pycache__
/新建文件夹